<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>購入確認</title>
</head>
<body>
    <p>{name} 様</p>
    <p>このたびは、<strong>{product_name}</strong> をご購入いただき誠にありがとうございます。</p>
    <h3>購入内容</h3>
    <ul>
        <li>商品名: {product_name}</li>
        <li>商品説明: {product_description}</li>
        <li>商品価格: ¥{price}</li>
        <li>配送料金: ¥{shopping_fee}</li>
        <li>合計金額: ¥{final_price}</li>
    </ul>

    <h3>配送先情報</h3>
    <ul>
        <li>お名前: {name}</li>
        <li>メール: {email}</li>
        <li>電話番号: {phone}</li>
        <li>住所: {address1} {address2}</li>
        <li>郵便番号: {postal_code}</li>
        <li>国籍: {nationality}</li>
    </ul>
    <p>２営業日以内に発送しますので、今しばらくお待ちください。</p>
    <p>何かご質問がございましたら、お気軽にお問い合わせください。</p>

    <p>--------------------</p>
    <p>
        ゲストハウス巴.com<br>
        〒040-0035 北海道函館市松風町1-2<br>
        電話: 080-9322-4522<br>
        Email: hakodateshino0901@gmail.com<br>
    </p>
</body>
</html> 
